<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<style>

	body{
		background-color:black;
	}

	input{
		width: 100%;
		padding: 12px 20px;
		margin: 8px 0;
		box-sizing: border-box;
	}

	input::placeholder {
	  color: #d3d3d3;
	}

	.submit{
		background-color: #6BA3E8;
	}

	.center-column{
		width:600px;
		margin: 20px auto;
		padding:20px;
		background-color:black;
		border-radius: 3px;
		box-shadow: 6px 2px 30px 0px rgba(0,0,0,0.75);
	}

	.item-row{
		background-color:grey;
		margin: 10px;
		padding: 20px;
		border-radius: 3px;
		color: #fff;
		font-size: 16px;
		box-shadow: 0px -1px 10px -4px rgba(0,0,0,0.75);
	}

	.btn-danger{
		background-color: #ffbe0b;
		border-color: #e59400;
	}

	@keyframes slideIn {
            0% { transform: translateY(-100px); opacity: 0; }
            100% { transform: translateY(0); opacity: 1; }
        }

        /* Apply the animation to the heading */
        h3 {
            text-align: center;
            color: peach; /* Note: Consider using a valid color, e.g., #ffa07a */
            font-size: 100px;
            text-shadow: -10px 0 black, 0 10px black, 10px 0 black, 0 -10px black;
            animation: slideIn 1s ease-in-out; /* Apply animation with 1 second duration */
        }

				@keyframes fadeIn {
            0% { opacity: 0; }
            100% { opacity: 1; }
        }

        /* Apply the animation to the summary paragraph */
        p {
            color: white;
            animation: fadeIn 1s ease-in-out; /* Apply animation with 1 second duration */
        }

</style>
<h3 style="text-align: center; color: peach; font-size: 100px; text-shadow: -10px 0 black, 0 10px black, 10px 0 black, 0 -10px black;">
	<b>TO-DO APP</b></h3>
<div  class="center-column">
	<form method="POST" action="/">
		{% csrf_token %}
		{{form.title}}
		<input class="btn btn-info" type="submit" name="Create Task">
	</form>

	<div class="todo-list">
		<p style="color: white;">Summary : <b>{{ completed_tasks }} / {{ total_tasks }}</b> ToDos completed !</p>
	{% for task in tasks %}
		<div class="item-row">
			<a class="btn btn-sm btn-info" href = "{% url 'update_task' task.id %}">Update</a>
			<a class="btn btn-sm btn-danger" href = "{% url 'delete' task.id %}">Delete</a>
			{% comment %} <a class="btn btn-sm btn-danger" href="{% url 'save_gist_locally' task.id %}">Save gist</a> {% endcomment %}
			{% if task.complete == True %}
			<strike>{{task}}</strike>
			{% else %}
			<span>{{task}}</span>
			{% endif %}

		</div>
	{% endfor %}
	</div>
</div>